<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Editing Book</h1>
	<% @book.errors.full_messages.each do |message| %>
		<div class ="error-form">
			<%= message %>
		</div>
	<% end %>
	<%= form_for(@book, url: book_path ) do |f| %>
		<p>Title</p>
		<%= f.text_field :title  %>
		<p>Body</p>
		<%= f.text_area :body  %>
		<br><%= f.submit "Update Book" %></br>
	<% end %>
	<%= link_to "Show", book_path(@book) %>
	|
	<%= link_to "Back", books_path %>
</body>
</html>
