<!DOCTYPE html>
<html>
<head>
	<title>WebCampBackendNew</title>
	<meta charset="UTF-8" >
	<link rel ="stylesheets" href ="application.css">
</head>
<body>
	<%= flash[:notice] %>
	<h1>Books</h1>
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Body</th>
				<th colspan ="3"></th>
			</tr>
		</thead>
		<tbody>
			<% @books.each do |book| %>
				<tr>
					<td><%= book.title %></td>
					<td><%= book.body %></td>
					<td><%= link_to "Show", book_path(book.id), class: "link" %></td>
					<td><%= link_to "Edit", edit_book_path(book.id), class: "link" %></td>
					<td><%= link_to "Destroy", book_path(book.id) , method: :delete, data: {confirm: "Are you sure?" }, class: "link" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<h2>New books</h2>
	<%= form_for(@book, url: books_path ) do |f| %>
		<% if @book.errors.any? %>
			<div id ="error-explanation">
				<h2> errors prohibited this book from being saved</h2>
				<ul>
					<% @book.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<div class ="text-field">
			<div class="field_with_errors">
				<label for ="book-title">Title</label>
			</div>
			<div class="field_with_errors">
				<%= f.text_field :title  %>
			</div>
		</div>
		<div class ="text-field">
			<div class="field_with_errors">
				<label for ="book-body">Body</label>
			</div>
			<div class="field_with_errors">
				<%= f.text_area :body  %>
			</div>
		</div>
		<div class ="btn-field" >
			<%= f.submit "Create Book"  %>
		</div>
	<% end %>
</body>
</html>